.header {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-navigation {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .logo__header {
    color: var(--logo-black-color);
  }
  
  .header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
  
  .header-list .link.current {
    color: var(--accent-color);
  }
  .header-list .link.current::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-size: cover;
    background-color: var(--accent-color);
    border-radius: 2px;
    transform: scaleX(1);
    transition: 250ms var(--timing-function);
  }
  
  .header-list__link {
    position: relative;
    transition-property: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0 32px 0;
    color: var(--title-text-color);
    transition: color 250ms var(--timing-function);
     &:hover,
     &:focus {
    color: var(--accent-color);
  }
  }
  
 
  
  .header-info {
    display: flex;
    gap: 50px;
    margin-left: auto;
  }
  
  .header-info__item {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-mail-icon,
  .header-tel-icon {
    fill: currentColor;
    margin-right: 10px;
  }
  
  .header-info__mail,
  .header-info__tel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    font-style: normal;
    transition: color 250ms var(--timing-function);
  }
  
  .header-info__mail:hover,
  .header-info__tel:hover,
  .header-info__mail:focus,
  .header-info__tel:focus {
    color: var(--accent-color);
  }